/*Global*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Roboto;
}
/*General*/
body {
    font-size: 1.3rem;
}
li  {
    list-style-type: none;
    display: inline-block;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/*Header*/
.header_container {
    display: flex;
    justify-content: flex-end;
}
.header_menu {
    margin-right: 2rem;
    margin-top: 1rem;
}
.header_list {
    display: flex;
    align-items: center;
}
.header_link {
    color: #202124;
    padding: 1rem;
}
.header_image-cuadros {
    max-width: 2rem;
}
.header_image-perfil {
    max-width: 5rem;
    clip-path: circle();
}

/*Main*/

.main_container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 13rem;
}
.main_logo_container {
    margin: 9rem auto 0;
}
#logo {
    height: 100px;
}
.main_search_box {
    margin: 4rem auto;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 0.05rem solid rgb(209, 209, 209);
    border-radius: 5rem;
    max-width: 70rem;
}
.main_search_box:hover {
    box-shadow: 0.07rem 0.07rem 0.25rem 0.1rem rgb(209, 209, 209);
}
#main_search_icons {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: gray;
    margin-left: 10px;
    margin-right: 10px;
}
.main_input_search_box {
    width: 90%;
    height: 4rem;
    border-style: solid;
    border-color: white;
}
.main_input_search_box:focus {
    outline-style: none;
}
.main_buttons_container {
    padding: 0.4rem;
    display: flex;
    justify-content: center;
}
.main_search_button {
    background-color: #f8f9fa;
    padding: 0.8rem 1.8rem;
    margin: 0 1.5rem;
    border: none;
    border-radius: 0.4rem;
}
.main_search_button:hover {
    border: 0.1rem;
    border-bottom: 0.3rem;
    border-color: rgb(211, 211, 211);
    border-style: solid;
    text-decoration: none;
}
.main_lenguage_option {
    margin: 3rem auto;
    display: flex;
}
.main_link_translate {
    color: #1967d2;
}
.main_link_translate:visited {
    color: #1967d2;
}

/*FOOTER*/
.footer_container {
    background-color: #f2f2f2;
    border: #dadce0;
    position: fixed;
    bottom: 0rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer_list {
    padding: 2rem;
}
.footer-link {
    color: #70755a;
    margin: 0 1rem;
}


/*RESPONSIVE*/
@media only screen and (max-width:650px) {
    .footer_container {
        justify-content: center;
    }
}
@media only screen and (max-width:389px) {
    .footer_link_hidden {
        display: none;
    }
    .main_logo_container {
        margin: 5rem auto 0;
        display: flex;
        justify-content: center;
    }
    #logo {
        width: 60%;
        height: 60%;
    }
    .main_search_box {
        width: 90%;
    }
    .main_buttons_container {
        display: none;
    }
    .main_lenguage_option {
        flex-wrap: wrap;
        justify-content: center;
    }
}
